
.about__section {
    /* padding: 4rem; */
    background-color: #000;
    color: #DDD;

}


.p {
    margin-bottom: 1rem;
    text-align: center;
}

.h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.topbox {

}

.btmbox {

}
