.about__section {
  padding: 5rem;
  background-color: #000;
  color: #ddd;
}

.p {
  margin-bottom: 2rem;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main {
  display: flex;
  gap: 2rem;
}

.leftbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex: 1 1 20%;
}

.toggleicon {
  border-radius: 50%;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(244, 84, 15);
  background: rgb(244, 84, 15);
  &:hover {
    background: #fff;
  }
  .svg {
    fill: #fff;
    &:hover {
      fill: rgb(244, 84, 15);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.active {
  background: #fff;
}

.toggleicon:nth-child(2) {
  border: 6px solid rgb(210, 253, 56);
  background: rgb(210, 253, 56);
  &:hover {
    background: #fff;
  }
  .svg {
    fill: #fff;
    &:hover {
      fill: yellow;
    }
  }
}
.toggleicon:nth-child(3) {
  border: 6px solid blue;
  background: blue;
  &:hover {
    background: #fff;
  }
  .svg {
    fill: #fff;
    &:hover {
      fill: blue;
    }
  }
}
.toggleicon:nth-child(4) {
  border: 6px solid rgb(244, 50, 82);
  background: rgb(244, 50, 82);
  &:hover {
    background: #eee;
  }
  .svg {
    fill: #fff;
    &:hover {
      fill: rgb(244, 50, 82);
    }
  }
}

.rightbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 80%;
}
