.hero__container {
  margin-top: 2rem;
  height: 30rem;
  margin-bottom: 2rem;
}


.h1 {
  font-size: 5.5rem;
  font-weight: bold;
  color:rgba(227,123,66, .8); 
  
}

.h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  max-width: 65rem;
  font-weight: bold;
  color:#ccc;
}

.p {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  max-width: 65rem;

  color:#ccc;

}

.btnbox {
  display: flex;
  gap: 1rem;
}
