.h1 {
  margin-bottom: 2rem;
}

.profile__feeds {
  margin-top: 8rem;
  margin-left: 8rem;
  margin-right: 8rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  background: #333;
  color: aliceblue;
  min-width: 36rem;
  display: flex;
  flex-direction: column;
}

.content__box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 767px) {
  .profile__feeds {
    margin-left: -0.5rem;
    margin-right: 0rem;
  }
}

@media (max-width: 640px) {
  .profile__feeds {
    width: 36rem;
  }
}

@media (max-width: 480px) {
  .profile__feeds {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    padding: 2rem 1rem;
    width: 32rem;
  }

  .content__box {
    gap: 4rem;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .profile__feeds {
    width: 29rem;
    padding: 1rem;
    margin-left: -2rem;
  }
}
