.h1 {
  margin-bottom: 2rem;
}

.project__feeds {
  margin-top: 18rem;
  margin-left: 8rem;
  margin-right: 8rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  background: rgba(225, 255, 255, 0.2);
  color: aliceblue;
  min-width: 36rem;
  display: flex;
  flex-direction: column;
}

.content__box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 767px) {
  .project__feeds {
    margin-left: -0.5rem;
    margin-right: 0rem;
  }
}

@media (max-width: 640px) {
  .project__feeds {
    width: 36rem;
  }
}

@media (max-width: 480px) {
  .project__feeds {
    margin-left: -1rem;
    margin-right: 0.5rem;
    border: none;
    padding: 2rem .3rem;
    width: 29rem;
  }

  .content__box {
    gap: 4rem;
    width: 75%;
  }
}

@media (max-width: 320px) {
  .project__feeds {
    width: 29rem;
    padding: 1rem;
  }
}
